html{
    position: relative; 
    min-height: 100%;
}
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.arrow{font-size: 12px;}
footer{
    min-width: 100%;
    bottom: 0;
    position: absolute;
}
a:hover{
    text-decoration: none;
}

.modal-body {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.modal-body iframe {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

