/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }
 
    .comments-list .comment-box {
        width: 390px;
    }

    .chat-form{
        width: 390px;
    }
 
    .reply-list .comment-box {
        width: 320px;
    }
}

@media only screen and (max-width: 480px) {
    .comments-container {
        width: 280px;
    }

    .comments-list .comment-box {
        width: 190px;
    }

    .chat-form{
        width: 190px;
    }

    .reply-list .comment-box {
        width: 120px;
    }
    .comments-list .comment-avatar{
        width: 45px;
        height: 45px;
    }
}